<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activitis.Settings.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Settings.QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Historys.HistoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Historys.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Carts.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Products.ProductByCategoryIdActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Products.SearchProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Products.CategorisActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Carts.DetailCartActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Products.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Settings.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Products.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Carts.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Accounts.RecoverEmailActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Accounts.RecoverCodeActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activitis.Accounts.RecoverActivity"
            android:exported="true" />
        <activity
            android:name=".Activitis.Accounts.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Activitis.Accounts.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activitis.Animation_main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitis.MainActivity"
            android:exported="true" />
    </application>

</manifest>